@mixin MQ($canvas){
	@if $canvas == XS{
		@media only screen and (max-width:$XS){ @content; }
	}
	@else if $canvas == S {
		@media only screen and (min-width:$XS) and (max-width:$M){ @content; }
	}
	@else if $canvas == M {
		@media only screen and (min-width:$M) and (max-width:$L){ @content; }
	}
	@else if $canvas == L {
		@media only screen and (min-width:$L) { @content; }
	}
}
@mixin border-box{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}
@mixin display-box{
    display: box;
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
}
@mixin box-flex($bf:1.0){
    box-flex: $bf;
    -moz-box-flex: $bf;
    -webkit-box-flex: $bf;
}