input[type="cellphone"], input[type="qq"] {
  -webkit-appearance: none;
  background-color: #fff;
  font-family: inherit;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.77778rem;
  margin: 0 0 0.88889rem 0;
  padding: 0.44444rem;
  height: 2.05556rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }
  input[type="cellphone"]:focus, input[type="qq"]:focus {
    box-shadow: 0 0 5px #999999;
    border-color: #999999; }
  input[type="cellphone"]:focus, input[type="qq"]:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none; }
  input[type="cellphone"][disabled], fieldset[disabled] input[type="cellphone"], input[type="qq"][disabled], fieldset[disabled] input[type="qq"] {
    background-color: #ddd; }
  input[type="cellphone"].radius, input[type="qq"].radius {
    border-radius: 3px; }
    
body {
	background-color: #ececec;
}

#share {
	background-color: #fff;
	border-top: 1px solid #ddd;
	padding: 20px 0;
	font-size: 0.875rem;
	line-height: 1.2rem;
	position: relative;
	z-index: 10;
}

#footer {
	background-color: #333;
	padding: 20px 0;
	color: #fff;
	position: relative;
	z-index: 10;
}
#footer ul, #footer ol, #footer dl {
	font-size: 0.8125rem;
}
#footer a {
	color: #fff;
}

.mapBubbleInfo h6 {
	color: #eb6100;
}
.mapBubbleInfo p {
	font-size: 0.8125rem;
}    

#items.map .optional {
	display: none;
}

.item {
	background-color: #fcfcfc;
}

#items.item {
	border: none;
}
#items .item h5,
#items .item p,
#items .item div {
	font-size: 0.8125rem;
}

#pkMap {
	overflow: auto;
	margin: 0;
	height: 500px;
}

#mapContainer {
	position: relative;
}

#mapContainer.hidden {
	position: absolute;
	left: -9999px;
}

#viewSwitch {
	margin-top: 1.5rem;
	text-align: right;
}
#viewSwitch a {
	color: #aaa;
	margin-left: 1rem;
	font-size: 0.825rem;
}
#viewSwitch a i {
	font-size: 1rem;
	vertical-align: middle;
}
#viewSwitch a.active {
	color: #000;
}
#distanceSelect {
	margin: 0;
}
hr {
	margin-top: 0;
}
.gloden-star {
color: rgba(245, 159, 26, 0.8);
text-shadow: 1px 4px 6px #FFF, 0 0 0 #000, 1px 4px 6px #FFF;
}

.hollow-star {
text-shadow: 0 1px 3px rgba(245, 159, 26, 0.8);
color: #FFF;
}

.fa-3 {
font-size: 4em;
}
.fa-2 {
font-size: 2em;
}

.jumbotron-icon {
padding: 5px 7px 5px;
opacity:0.9; filter:alpha(opacity=30);
color: #3d6dcc;
}

.button {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
}
/* line 42, ../scss/partials/_buttons.scss */
.button:hover, .button:focus {
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
  background: -o-linear-gradient(top, #ffffff, #dcdcdc);
  background: linear-gradient(top, #ffffff, #dcdcdc);
}
/* line 46, ../scss/partials/_buttons.scss */
.button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #eeeeee;
  color: #bbbbbb;
}
/* line 52, ../scss/partials/_buttons.scss */
.button:focus {
  outline: none;
}

/* line 58, ../scss/partials/_buttons.scss */
input.button, button.button {
  height: 34px;
  cursor: pointer;
  -webkit-appearance: none;
}

/* line 65, ../scss/partials/_buttons.scss */
.button-block {
  display: block;
}

/* line 75, ../scss/partials/_buttons.scss */
.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
  -webkit-appearance: none;
}

/* line 87, ../scss/partials/_buttons.scss */
.button-wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -o-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(top, #e3e3e3, #f2f2f2);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block;
}

.button-circle {
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  -ms-border-radius: 240px;
  -o-border-radius: 240px;
  border-radius: 240px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 100px;
  line-height: 100px;
  height: 100px;
  padding: 0px;
  border-width: 4px;
  font-size: 19px;
}

/* line 234, ../scss/partials/_buttons.scss */
.button-primary:hover, .button-primary:focus {
  background-color: #00a1cb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c9fe), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, #00c9fe, #008db2);
  background: -moz-linear-gradient(top, #00c9fe, #008db2);
  background: -o-linear-gradient(top, #00c9fe, #008db2);
  background: linear-gradient(top, #00c9fe, #008db2);
}
/* line 238, ../scss/partials/_buttons.scss */
.button-primary:active {
  background: #1495b7;
  color: #005065;
}

