Django == 1.6.8
MySQL-python == 1.2.5
pytz == 2013.9
Pillow
bae_image
WeRoBot == 0.5.3
six
django-bitfield == 1.7.1
django-uuidfield == 0.5.0
python-dateutil == 2.2
django-grappelli<2.5.0
django-redis-cache
hiredis
django-mobi
geopy==0.94.2
python-geohash
South
validate-email
djangorestframework-jsonp
djangorestframework
requests < 2.6
