<div>
    <dl>
        <dt>我为台球狂</dt>
        <dd><a href="#">首页</a></dd>
        <dd><a href="#">附近球房</a></dd>
        <dd><a href="#">预约教练</a></dd>
        <dd><a href="#">首页</a></dd>
    </dl>
    <dl>
        <dt>用户登录</dt>
        <dd><a href="#">微信登录</a></dd>
        <dd><a href="#">qq登录</a></dd>
        <dd><a href="#">微博登录</a></dd>
    </dl>
    <dl>
        <dt>其他信息</dt>
        <dd><a href="#">关于我们</a></dd>
        <dd><a href="#">加入我们</a></dd>
        <dd><a href="#">联系我们</a></dd>
        <dd><a href="#">关注俱乐部</a></dd>
    </dl>
</div>